* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    font-family: 'Kalam', cursive;
    font-family: 'Lobster', sans-serif;
    font-family: 'Playpen Sans', cursive;
    background-color: aquamarine;
    background-image: url(/assets/comunidad.jpg);
}
.header-arriba{
    background-color: rgb(130, 238, 211);
}
.redes a{
    margin-right: 15px;
    text-decoration: none;
    color: rgb(5, 5, 56);
}
.fondo-logo{
    background-color: aquamarine;
}
.logo{
    width: 600px; 
    height: auto; 
}
.nav-list {
    border-top: 1px solid rgb(5, 5, 56);
    background-color:rgb(130, 238, 211) ;
    list-style-type: none;
    display: flex;
    justify-content: center;
    gap: 6rem;
    border-bottom:1px solid rgb(5, 5, 56) ;
}
.nav-list li a {
    text-decoration: none;
    color: #1c1c1c;
    font-size: 25px;
}
.nav-list li a:hover{
    color:#fff;
    background-color: #1c1c1c;
    border-radius: 5px;
}
.abrir-menu,
.cerrar-menu {
    display: none;
}
#card-bienvenida {
    position: absolute; /* Permite posicionar la tarjeta de bienvenida encima de la imagen de fondo */
    margin-top: -400px; /* Coloca la tarjeta en el centro verticalmente */
    left: 50%; /* Coloca la tarjeta en el centro horizontalmente */
    transform: translate(-50%, -50%); /* Centra la tarjeta exactamente en el centro */
    background-color: rgba(0, 0, 0, 0.7); /* Color de fondo semitransparente para hacer el texto legible */
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    max-width: 650px; /* Ancho máximo de la tarjeta */
}
.letras-bienvenida1{
    color: #fff;
    line-height: 35px; 
}
.letras-bienvenida2{
    color: #fff;
    line-height: 20px; 
}
.boton-card-container{
    margin-top: 20px;
}
.boton-card {
    text-align: center; /* Centra el texto dentro del botón */
    text-decoration: none;
    background-color: #fff; /* Fondo transparente para que no tenga color de fondo */
    color: #2fb4cc; /* Cambia el color del texto y del borde a #2fb4cc */
    border: 2px solid #2fb4cc; /* Establece un borde sólido de 2px con el color #2fb4cc */
    border-radius: 8px; /* Establece un border radius de 8px para hacer las esquinas redondeadas */
    padding: 10px 20px; /* Agrega un relleno para dar espacio alrededor del texto */
    transition: background-color 0.3s, color 0.3s; /* Agrega una transición para suavizar el cambio de color de texto y borde */
}
.boton-card:hover {
    background-color:#2fb4cc ; /* Cambia el color de fondo a blanco en el hover */
    color: #fff; /* Cambia el color del texto a #2fb4cc en el hover */
}
.img-fondo{
    width: 100%;
    height: 600px;
    background-size: cover;
    background-attachment: fixed;
}
.flor-de-vida{
    width: 120px;
    height: auto;
    margin-top: 20px;
}
.h2-nosotros{
    font-size: 65px;
    margin-top: -118px;
    margin-left: 120px;
    color: #383838e3;
}
.parrafos-nosotros{
    margin-top: 50px;
    font-size: 25px;
    text-indent: 35px;
}  
.img-staff{
    width: 350px;
    height: auto;
    margin-left: 550px;
    margin-top: -50px;
}
.container-card-nosotros{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 35px;
    margin-bottom: 35px;
}
#card-nosotros{
    position: relative;
    margin-top: 50px;
    width: 300px;
    height: 350px;
    border-radius: 1px; /* Aplica el borde redondeado */
    border: 1px solid  rgb(5, 5, 56); /* Aplica una línea azul */
}
#card-nosotros .face{
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 10px;
    transition: .5s;
    border-radius: 1px; /* Aplica el borde redondeado */
    border: 1px solid  rgb(5, 5, 56); /* Aplica una línea azul */
}
#card-nosotros .front{
    transform: perspective(600px) rotateY(0deg);
    box-shadow: 0 5px 10px #000;
}
#card-nosotros .front img{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#card-nosotros .front h3{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 45px;
    line-height: 45px;
    color: #fff;
    background: rgba(0, 0, 0, 0.5);
    text-align: center;
}
#card-nosotros .back{
    transform: perspective(600px) rotateY(180deg);
    background: rgba(0, 0, 0, 0.7);
    padding: 15px;
    color: aliceblue;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    box-shadow: 0 5px 10px #000;
}
#card-nosotros .back .link{
    border-top: solid 1px #fff;
    height: 50px;
    line-height: 50px;
}
#card-nosotros .back .link a{
    color: #fff;
}
#card-nosotros .back h3{
    font-size: 30px;
    margin-top: 20px;
    letter-spacing: 2px;
}
#card-nosotros .back p{
    letter-spacing: 1px;
}
#card-nosotros:hover .front{
    transform: perspective(600px) rotateY(180deg);
}
#card-nosotros:hover .back{
    transform: perspective(600px) rotateY(360deg);
}
.img-contenidos{
    width: 120px;
    height: auto;
    margin-top: 120px;
}
.h2-contenidos{
    font-size: 65px;
    margin-top: -118px;
    margin-left: 120px;
    color: #383838e3;
}
.parrafos-contenidos{
    margin-top: 50px;
    font-size: 25px;
    text-indent: 35px;
}
.container{
    width: 100%;
    display: flex;
    margin-top: 50px;
}
.card{
    width: 100%;
    margin: 20px;
    border-radius: 6px;
    border: 2px solid rgb(5, 5, 56);
    overflow: hidden;
    background: #fff;
    box-shadow: 0px 1px 10px rgba (0,0,0,0.2);
    cursor: default;
    transition: all 400ms ease;
}
.card:hover{
    box-shadow: 5px 5px 20px rgba (0,0,0,0.4);
    transform: translateY(-3%);
}
.card img{
    width: 100%;
    height:auto
}
.card .contenido{
    padding: 15px;
    text-align: center;
}
.card .contenido p{
    line-height: 1.5;
    color: #6a6a6a;
}
.card .contenido h3{
    font-weight: 400;
    margin-bottom: 15px;
}
.card .contenido a{
    text-decoration: none;
    display: inline-block;
    padding: 10px;
    margin-top: 10px;
    color: #2fb4cc;
    border: 1px solid #2fb4cc;
    border-radius: 4px;
    transition: all 400ms ease;
}
.card .contenido a :hover{
    background:#2fb4cc ;
    color: #fff;
}
footer {
    background-color: rgb(130, 238, 211);
    position: relative;
    padding: 20px;
}
footer h4 {
    text-align: center;
    font-family: "Almendra SC", serif;
    color: rgb(5, 5, 56);
}
@media (max-width: 1024px){
    #card-bienvenida{
        margin-top: -380px;
    }
    .img-staff{
        width: 300px;
    }
}
@media (max-width: 768px){
    li a{
        font-size: 20px;
    }
    .abrir-menu,
    .cerrar-menu {
        display: block;
        border: 0;
        font-size: 1.25rem;
        background-color: transparent;
        cursor: pointer;
    }
    .abrir-menu {
        color: #1c1c1c;
        font-size: 35px;
        width: 100%;
        left: 0;
        display: flex;
        justify-content: flex-start;
        background-color: rgb(130, 238, 211);
        border-top: 0.5px solid rgb(5, 5, 56);
        border-bottom:0.5px solid rgb(5, 5, 56);
    }
    .cerrar-menu {
        color: #ececec;
        font-size: 25px;
    }
    .nav {
        opacity: 0;
        visibility: hidden;
        display: flex;
        flex-direction: column;
        align-items: end;
        gap: 1rem;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        background-color: #1c1c1c;
        padding: 2rem;
        box-shadow: 0 0 0 100vmax rgba(0, 0, 0, .5);
        z-index: 1000;
    }
    .nav.visible {
        opacity: 1;
        visibility: visible;
    }
    .nav-list {
        background-color: #1c1c1c;
        flex-direction: column;
        align-items: end;
        border-top: none;
        border-bottom: none;
    }
    .nav-list li a {
        color: #ecececec;
    }
    .img-fondo{
        height: 420px;
    }
    #card-bienvenida{
        margin-top: -220px;
        z-index: 999; 
    }
    .flor-de-vida{
        width: 95px;
    }
    .h2-nosotros{
        font-size: 55px;
        margin-top: -95px;
        margin-left: 100px;
    }
    .parrafos-nosotros{
        margin-top: 35px;
        font-size: 20px;
        text-indent: 25px;
    }
    .img-staff{
        width: 200px;
        margin-left: 450px;
        margin-top: -25px;
    }
    .img-contenidos{
        width: 95px;
        margin-top: 60px;
    }
    .h2-contenidos{
        font-size: 55px;
        margin-top: -95px;
        margin-left: 100px;
    }
    .parrafos-contenidos{
        margin-top: 35px;
        font-size: 20px;
        text-indent: 25px;
    }
}
@media (max-width: 757px){
    .container-card-nosotros{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }
}
#card-nosotros{
    width: 350px; 
    margin: 10px;
}
@media (max-width: 720px){
        h2{
            position: relative;
            top: 200px;
        }
        #card-bienvenida{
            margin-top: -180px;
        }
        .img-fondo{
            height: 400px;
        }
        .flor-de-vida{
            width: 80px;
        }
        .h2-nosotros{
            font-size: 45px;
            margin-top: -280px;
            margin-left: 90px;
        }
        .parrafos-nosotros{
            margin-top: 105px;
        }
        .img-contenidos{
            width: 80px;
            margin-top: 50px;
        }
        .h2-contenidos{
            font-size: 45px;
            margin-top: -280px;
            margin-left: 90px;
        }
        .parrafos-contenidos{
            margin-top: 145px;
        }
    }
@media (max-width: 425px){
    .logo{
        width: 300px;
    }
    .img-fondo{
        height: 250px;
    }
    #card-bienvenida{
        width: 420px;
        max-width: 100%;
        margin-top: -130px;
    }
    .letras-bienvenida1{
        font-size: 18px;
    }
    .letras-bienvenida2{
        font-size: 16px;
    }
    .boton-card-container{
        font-size: 14px;
    }
    .flor-de-vida{
        width: 60px;
    }
    .h2-nosotros{
        font-size: 35px;
        margin-top: -265px;
        margin-left: 70px;
    }
    .parrafos-nosotros{
        margin-top: 95px;
    }
    .img-staff{
        width: 200px;
        margin-left: 0px;
        margin-top: 0px;
    }
    #card-nosotros{
        width: 250px;
        height: 300px;
    }
    #card-nosotros .front h3{
        font-size: 15px;
    }
    #card-nosotros .back h3{
        font-size: 15px;
        margin-top: 2px;
        letter-spacing: 1px;
    }
    #card-nosotros .back p{
        font-size: 14px;
    }
    .img-contenidos{
        width: 60px;
    }
    .h2-contenidos{
        font-size: 35px;
        margin-top: -265px;
        margin-left: 70px;
    }
    .parrafos-contenidos{
        margin-top: 130px;
    }
    .container{
        flex-wrap: wrap;
        text-align: center;
    }
}
@media (max-width: 375px){
    #card-bienvenida{
        width: 370px;
        margin-top: -125px;
    }
    .boton-card-container{
        font-size: 12px;
    }
}
@media (max-width: 362px){
    .letras-bienvenida1{
        line-height: 25px;
    }
    .letras-bienvenida2{
        line-height: 19px;
}
}
@media (max-width: 350px){
.letras-bienvenida1{
    font-size: 16px;
}
.letras-bienvenida2{
    font-size: 14px;
}
.boton-card-container{
    font-style: 13px;
}
.flor-de-vida{
    width: 50px;
}
.h2-nosotros{
    font-size: 25px;
    margin-top: -250px;
    margin-left: 60px;
}
.parrafos-nosotros{
    margin-top: 85px;
    font-size: 18px;
}
}