* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    background-color: aquamarine;
}
.header-arriba{
    background-color: rgb(130, 238, 211);
}
.redes a{
    margin-right: 15px;
    text-decoration: none;
    color: rgb(5, 5, 56);
}
.fondo-logo{
    background-color: aquamarine;
}
.logo{
    width: 600px; 
    height: auto; 
}
.barraDeNavegacion {
    border-top: 1.5px solid #ffffff;
    width: 100%;
    background-color: rgb(130, 238, 211);
    font-family: "Almendra SC", serif;
}
#menu a:hover {
    background-color: rgb(130, 238, 211);
    background: rgb(5, 5, 56);
    animation: 1s ms 1;
}
.nav-label,.nav-input {
    display: none;
}
@keyframes ms {
    0% {
    opacity: 0;
    transform: scale(1.2);
    }
}
ul {
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    color: #ffffff;
}
li {
    float: left;
}
li a {
    display: block;
    color: #ffffff;
    text-align: center;
    padding: 26px 50px;
    text-decoration: none;
}
.container{
    width: 100%;
    display: flex;
}
.card{
    width: 100%;
    margin: 20px;
    border-radius: 6px;
    border: 2px solid rgb(5, 5, 56);
    overflow: hidden;
    background: #fff;
    box-shadow: 0px 1px 10px rgba (0,0,0,0.2);
    cursor: default;
    transition: all 400ms ease;
}
.card:hover{
    box-shadow: 5px 5px 20px rgba (0,0,0,0.4);
    transform: translateY(-3%);
}
.card img{
    width: 100%;
    height:auto
}
.card .contenido{
    padding: 15px;
    text-align: center;
}
.card .contenido p{
    line-height: 1.5;
    color: #6a6a6a;
}
.card .contenido h3{
    font-weight: 400;
    margin-bottom: 15px;
}
.card .contenido a{
    text-decoration: none;
    display: inline-block;
    padding: 10px;
    margin-top: 10px;
    color: #2fb4cc;
    border: 1px solid #2fb4cc;
    border-radius: 4px;
    transition: all 400ms ease;
}
.card .contenido a :hover{
    background:#2fb4cc ;
    color: #fff;
}
footer {
    background-color: rgb(130, 238, 211);
    position: relative;
    padding: 20px;
}
footer h4 {
    text-align: center;
    font-family: "Almendra SC", serif;
    color: rgb(5, 5, 56);
}
@media (max-width: 720px){
    .nav-container {
            position: relative;
            background-color: rgb(130, 238, 211);
        }
        .nav-label {
            background-color: rgb(130, 238, 211);
            display: block;
            cursor: pointer;
        }
        .bi-list{
            width: 35px;
            height: 35px;
            color: rgb(5, 5, 56);
        }
        .barraDeNavegacion {
            position: fixed;
            top: auto;
            bottom: auto;
            background-color: rgb(130, 238, 211);
            width: 100%;
            left: auto;
            display: flex;
            justify-content: space-evenly;
            flex-direction: column;
            align-items: center;
            clip-path: circle(0 at top left);
            transition: clip-path 0.5s ease-in-out;
            z-index: 1;
            border-top: 1px solid #ffffff;
        }
        .nav-input:checked + .barraDeNavegacion {
            clip-path: circle(100% at center);
        }
        h2{
            position: relative;
            top: 200px;
        }
        .p1inicio{
            position: relative;
            top: 250px;
    }
}
@media (max-width:620px){
    h1{
        font-size: 55px;
    }
    .mandala{
        width: 80px;
        height: 80px;
        margin-top: -70px;
        margin-left: 345px;
    }
}
@media (max-width: 485px){
    h1{
        font-size:45px ;
        bottom: -5px;
    }
    .mandala{
        width: 60px;
        height: 60px;
        margin-top: -80px;
        margin-left: 280px;
    }
}
@media (max-width: 341px){
    h1{
        font-size: 30px;
        bottom: -15px;
    }
    .mandala{
        width: 35px;
        height: 35px;
        margin-left: 185px;
    }
}