* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    font-family: 'Kalam', cursive;
font-family: 'Lobster', sans-serif;
font-family: 'Playpen Sans', cursive;
    background-color: aquamarine;
    background-image: url(/assets/comunidad.jpg);
}
.header-arriba{
    background-color: rgb(130, 238, 211);
}
.redes a{
    margin-right: 15px;
    text-decoration: none;
    color: rgb(5, 5, 56);
}
.fondo-logo{
    background-color: aquamarine;
}
.logo{
    width: 600px; 
    height: auto; 
}
.barraDeNavegacion {
    border-top: 1.5px solid #ffffff;
    width: 100%;
    background-color: rgb(130, 238, 211);
    font-family: "Almendra SC", serif;
}
#menu a:hover {
    background-color: rgb(130, 238, 211);
    background: rgb(5, 5, 56);
    animation: 1s ms 1;
}
.nav-label,.nav-input {
    display: none;
}
@keyframes ms {
    0% {
    opacity: 0;
    transform: scale(1.2);
    }
}
ul {
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    color: #ffffff;
}
li {
    float: left;
}
li a {
    display: block;
    font-size: 25px;
    color: #ffffff;
    text-align: center;
    padding: 26px 50px;
    text-decoration: none;
}
#card-bienvenida {
    position: absolute; /* Permite posicionar la tarjeta de bienvenida encima de la imagen de fondo */
    top: 60%; /* Coloca la tarjeta en el centro verticalmente */
    left: 50%; /* Coloca la tarjeta en el centro horizontalmente */
    transform: translate(-50%, -50%); /* Centra la tarjeta exactamente en el centro */
    background-color: rgba(0, 0, 0, 0.7); /* Color de fondo semitransparente para hacer el texto legible */
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    max-width: 650px; /* Ancho máximo de la tarjeta */
}
.letras-bienvenida1{
    color: #fff;
    line-height: 35px; 
}
.letras-bienvenida2{
    color: #fff;
    line-height: 20px; 
}
.boton-card-container{
    margin-top: 20px;
}
.boton-card {
    text-align: center; /* Centra el texto dentro del botón */
    text-decoration: none;
    background-color: #fff; /* Fondo transparente para que no tenga color de fondo */
    color: #2fb4cc; /* Cambia el color del texto y del borde a #2fb4cc */
    border: 2px solid #2fb4cc; /* Establece un borde sólido de 2px con el color #2fb4cc */
    border-radius: 8px; /* Establece un border radius de 8px para hacer las esquinas redondeadas */
    padding: 10px 20px; /* Agrega un relleno para dar espacio alrededor del texto */
    transition: background-color 0.3s, color 0.3s; /* Agrega una transición para suavizar el cambio de color de texto y borde */
}
.boton-card:hover {
    background-color:#2fb4cc ; /* Cambia el color de fondo a blanco en el hover */
    color: #fff; /* Cambia el color del texto a #2fb4cc en el hover */
}
.img-fondo{
    width: 100%;
    height: 600px;
    background-size: cover;
    background-attachment: fixed;
}
.flor-de-vida{
    width: 120px;
    height: auto;
    margin-top: 20px;
}
.h2-nosotros{
    font-size: 65px;
    margin-top: -118px;
    margin-left: 120px;
    color: #383838e3;
}
.parrafos-nosotros{
    margin-top: 50px;
    font-size: 25px;
    text-indent: 35px;
}  
.img-staff{
    width: 350px;
    height: auto;
    margin-left: 550px;
    margin-top: -50px;
}
#card-nosotros{
    position: relative;
    margin-top: 50px;
    display: inline-block;
    width: 300px;
    height: 350px;
    margin-left: 90px;
    border-radius: 1px; /* Aplica el borde redondeado */
    border: 1px solid  rgb(5, 5, 56); /* Aplica una línea azul */
}
#card-nosotros .face{
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 10px;
    transition: .5s;
    border-radius: 1px; /* Aplica el borde redondeado */
    border: 1px solid  rgb(5, 5, 56); /* Aplica una línea azul */
}
#card-nosotros .front{
    transform: perspective(600px) rotateY(0deg);
    box-shadow: 0 5px 10px #000;
}
#card-nosotros .front img{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#card-nosotros .front h3{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 45px;
    line-height: 45px;
    color: #fff;
    background: rgba(0, 0, 0, 0.5);
    text-align: center;
}
#card-nosotros .back{
    transform: perspective(600px) rotateY(180deg);
    background: rgba(0, 0, 0, 0.7);
    padding: 15px;
    color: aliceblue;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    box-shadow: 0 5px 10px #000;
}
#card-nosotros .back .link{
    border-top: solid 1px #fff;
    height: 50px;
    line-height: 50px;
}
#card-nosotros .back .link a{
    color: #fff;
}
#card-nosotros .back h3{
    font-size: 30px;
    margin-top: 20px;
    letter-spacing: 2px;
}
#card-nosotros .back p{
    letter-spacing: 1px;
}
#card-nosotros:hover .front{
    transform: perspective(600px) rotateY(180deg);
}
#card-nosotros:hover .back{
    transform: perspective(600px) rotateY(360deg);
}
.img-contenidos{
    width: 120px;
    height: auto;
    margin-top: 120px;
}
.h2-contenidos{
    font-size: 65px;
    margin-top: -118px;
    margin-left: 120px;
    color: #383838e3;
}
.parrafos-contenidos{
    margin-top: 50px;
    font-size: 25px;
    text-indent: 35px;
}
.container{
    width: 100%;
    display: flex;
    margin-top: 50px;
}
.card{
    width: 100%;
    margin: 20px;
    border-radius: 6px;
    border: 2px solid rgb(5, 5, 56);
    overflow: hidden;
    background: #fff;
    box-shadow: 0px 1px 10px rgba (0,0,0,0.2);
    cursor: default;
    transition: all 400ms ease;
}
.card:hover{
    box-shadow: 5px 5px 20px rgba (0,0,0,0.4);
    transform: translateY(-3%);
}
.card img{
    width: 100%;
    height:auto
}
.card .contenido{
    padding: 15px;
    text-align: center;
}
.card .contenido p{
    line-height: 1.5;
    color: #6a6a6a;
}
.card .contenido h3{
    font-weight: 400;
    margin-bottom: 15px;
}
.card .contenido a{
    text-decoration: none;
    display: inline-block;
    padding: 10px;
    margin-top: 10px;
    color: #2fb4cc;
    border: 1px solid #2fb4cc;
    border-radius: 4px;
    transition: all 400ms ease;
}
.card .contenido a :hover{
    background:#2fb4cc ;
    color: #fff;
}
footer {
    background-color: rgb(130, 238, 211);
    position: relative;
    padding: 20px;
}
footer h4 {
    text-align: center;
    font-family: "Almendra SC", serif;
    color: rgb(5, 5, 56);
}
@media (max-width: 1024px){
    #card-bienvenida{
        top: 80%;
    }
    .img-staff{
        width: 300px;
    }
}
@media (max-width: 768px){
    li a{
        font-size: 20px;
    }
    .img-fondo{
        height: 480px;
    }
    .flor-de-vida{
        width: 95px;
    }
    .h2-nosotros{
        font-size: 55px;
        margin-top: -95px;
        margin-left: 100px;
    }
    .parrafos-nosotros{
        margin-top: 35px;
        font-size: 20px;
        text-indent: 25px;
    }
    .img-staff{
        width: 200px;
        margin-left: 450px;
        margin-top: -25px;
    }
    #card-nosotros{
        margin-left: 225px;
    }
    .img-contenidos{
        width: 95px;
        margin-top: 60px;
    }
    .h2-contenidos{
        font-size: 55px;
        margin-top: -95px;
        margin-left: 100px;
    }
    .parrafos-contenidos{
        margin-top: 35px;
        font-size: 20px;
        text-indent: 25px;
    }
}
@media (max-width: 720px){
    .nav-container {
            position: relative;
            background-color: rgb(130, 238, 211);
        }
        .nav-label {
            background-color: rgb(130, 238, 211);
            display: block;
            cursor: pointer;
        }
        .bi-list{
            width: 35px;
            height: 35px;
            color: rgb(5, 5, 56);
        }
        .barraDeNavegacion {
            position: fixed;
            top: auto;
            bottom: auto;
            background-color: rgb(130, 238, 211);
            width: 100%;
            left: auto;
            display: flex;
            justify-content: space-evenly;
            flex-direction: column;
            align-items: center;
            clip-path: circle(0 at top left);
            transition: clip-path 0.5s ease-in-out;
            z-index: 1;
            border-top: 1px solid #ffffff;
        }
        .nav-input:checked + .barraDeNavegacion {
            clip-path: circle(100% at center);
        }
        h2{
            position: relative;
            top: 200px;
        }
        #card-bienvenida{
            top: 65%;
        }
        .img-fondo{
            height: 400px;
        }
        .flor-de-vida{
            width: 80px;
        }
        .h2-nosotros{
            font-size: 45px;
            margin-top: -280px;
            margin-left: 90px;
        }
        .parrafos-nosotros{
            margin-top: 105px;
        }
        #card-nosotros{
            margin-left: 210px;
        }
        .img-contenidos{
            width: 80px;
            margin-top: 50px;
        }
        .h2-contenidos{
            font-size: 45px;
            margin-top: -280px;
            margin-left: 90px;
        }
        .parrafos-contenidos{
            margin-top: 145px;
        }
    }
@media (max-width:620px){
    h1{
        font-size: 55px;
    }
    .mandala{
        width: 80px;
        height: 80px;
        margin-top: -70px;
        margin-left: 345px;
    }
}
@media (max-width: 485px){
    h1{
        font-size:45px ;
        bottom: -5px;
    }
    .mandala{
        width: 60px;
        height: 60px;
        margin-top: -80px;
        margin-left: 280px;
    }
}
@media (max-width: 425px){
    .logo{
        width: 300px;
    }
    .img-fondo{
        height: 250px;
    }
    #card-bienvenida{
        width: 450px;
        top: 40%;
    }
    .letras-bienvenida1{
        font-size: 18px;
    }
    .letras-bienvenida2{
        font-size: 16px;
    }
    .boton-card-container{
        font-size: 14px;
    }
    .flor-de-vida{
        width: 60px;
    }
    .h2-nosotros{
        font-size: 35px;
        margin-top: -265px;
        margin-left: 70px;
    }
    .parrafos-nosotros{
        margin-top: 95px;
        font-size: 25px;
    }
}
@media (max-width: 341px){
    h1{
        font-size: 30px;
        bottom: -15px;
    }
    .mandala{
        width: 35px;
        height: 35px;
        margin-left: 185px;
    }
}